@tailwind base;
@tailwind components;
@tailwind utilities;

/* Chrom, Safari, Opera */
/* input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
} */

/* mozila */
/* input[type="number"] {
  -moz-appearance: textfield;
} */
